.app {
  text-align: left;
  margin: 50px 100px;
  font-size: 25px;
  width: "100%";
}

p {
  margin: 0px;
}

.lyrics {
  float: left;
  width: 45%;
  margin-bottom: 50px;
}

.artist {
  width: 655%;
  margin-left: 45%;
  position: fixed;
  padding-top: 100px;
}

.song-title {
  font-size: 50px;
}

.song-artist {
  font-size: 30px;
}

.album-art {
  height: 400px;
  padding-top: 25px;
}

.log-in {
  text-align: center;
}

.log-in-button {
  background-color: #1db954;
  border-radius: 7px;
  color: #ffffff;
  font-size: 17px;
  padding: 16px 17px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.log-in-button:active {
  position: relative;
  top: 1px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #c2c9d2;
}
